extends layout

block content
 h1= title
 p
  | 이름을 입력하세여!! : 
  input#username(type='text', value= username)
  button.btn.btn-primary.btn-sm#submit-name 이름저장
 p 
  font(color='DodgerBlue') #{username}
  | 님 환영합니다.
 
 #game
  #bingo
   table.bingo-board
    tr
     td
     td
     td
     td
     td
    tr
     td
     td
     td
     td
     td
    tr
     td
     td
     td
     td
     td
    tr
     td
     td
     td
     td
     td
    tr
     td
     td
     td
     td
     td

   #user
    #list
    #logs
    button.btn.btn-warning.btn-sm#start_button 게임 시작!!
    //input#username(type='hidden', value= username)