doctype html
html
	head
		meta(charset='utf-8')
		title Welcome to Yamae SNS
		script(src='//code.jquery.com/jquery.min.js')
		script(src='/javascripts/main.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		center
			input#login_button.button(type='button', onclick="location.href='/auth/google'", value='Login (google)' style=displayLogin) 
			input#logout_button.button(type='button', onclick="location.href='/logout'", value='Logout' style=displayLogout)
		block content